{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
{% if not user.is_authenticated %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="DjangoX logo"/>
  <p class="lead">A Django starter project with batteries.</p>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    {% if balances|length > 0 %}
    <h1 class="display-4">Your Balances</h1>
      {% for balance in balances %}
        <p class="lead">{{ balance.asset_code }}: {{ balance.balance }} </p>
      {% endfor %}
    {% else %}
      <h1 class="display-4">Welcome new User!</h1>
      <h5 class="display-4">Let's get started setting up your new account</h1>
      <p>If you setup everything and see this it means you haven't received any Assets</p>  
      <a href="{% url 'edit-account' %}" class="btn btn-primary btn-lg" role="button">Setup Account information</a>
      <a href="{% url 'edit-payment-info' %}" class="btn btn-primary btn-lg" role="button">Setup Payment information</a>

    {% endif %}
  </div>
</div>

<h1>Pending Claimable Balances</h1>
{% if claimable_balances|length > 0 %}
<table class="table">
  <thead>
  <tr>
      <th scope="col">Account</th>
      <th scope="col">Asset</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
{% for balance in claimable_balances %}
    <tr>
      <th scope="row">{{ balance.sponsor }}</th>
      <td>{{ balance.asset }}</td>
      <td>{{ balance.amount }}</td>
      <td><a href="{% url 'claim-balance' balance.id %}" class="btn btn-primary" role="button">Claim</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>No Pending Claimable Balances  </p>
{% endif%}

<hr></hr>
<h1>Past Transactions</h1>
<p>No Past Transactions have been found  </p>



{% endif %}

{% endblock content %}
