{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Account{% endblock %}

{% block content %}

{% for message in messages %}
  <div class="alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<h2>Edit your account</h2>
<form method="post" action="{% url 'edit-account' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock content %}
